@CHARSET "UTF-8";

body {
    background:url('Red_Floral_by_Daemonika.jpg') fixed no-repeat;
    background-size:100% 100%;
}

#window {
	
	left:100px;
	top:100px;
    height:750px;
    width:1500px;
    border: white 1px solid;
    position: relative;
    background:black;
    color:white;
}

div div { 
    position:absolute;
}

#leftside {
    border-right:white 1px solid;
    width:20%;
    height:100%;
    left:0px;
}

#rightside {
    border-left-width:0px;
    right:0px;
    float:right;
    width:80%;
    height:100%;
}

#roomcontainer {
    height:33%;
    width:100%;
    border-bottom:white 1px solid;
}

#personcontainer {
    bottom:0px;
    width:100%;
    height:66%
    
}

#console {
    top:0px;
    width:100%;
    height:75%;
    border-bottom:white 1px solid;
    padding:2px;
	overflow:auto;
}

#console p {
	margin: 1px;
}

#exitcontainer {
    bottom:10%;
    height:15%;
    width:100%;
    border-bottom:white 1px solid;
}

#chatcontainer {
    bottom:0px;
    right:0px;
    height:10%;
    width:100%;
    border-color:red;
    padding:1px;
}

#chat {
    margin-top:1px;
    margin-left:3px;
    border:0;
    padding:0;
    width:99%;
    height:100%;
}

#personlist {
    padding:5px;
    margin:0px;
}

#exitlist {
    padding:0px;
    padding-left:5px;
}

#exitlist li {
    
    float:left;
        border:2px solid;
    border-radius:25px;
    padding:5px;
    text-align:center;
    list-style-type:none;
    list-style-position:inside;
}

#personlist li {
    
    border:2px solid;
    border-radius:25px;
    padding:5px;
    text-align:center;
    list-style-type:none;
    list-style-position:inside;
}

#roomname {
	
    text-align:center;
    margin:0;
    border-bottom:white 1px solid;
    padding:5px;
}

#roomdesc {
    margin:0;
    padding:5px;
}

p, li {
	-webkit-animation:myfirst 50s infinite; /* Chrome, Safari, Opera */
	-webkit-animation-timing-function:linear;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst
{
	0%   {color:red;}
	33%  {color:yellow;}
	66%  {color:blue;}
	100% {color:red;}
}